/* _main.scss */
/* Laying down the basic crap */

@font-face {
  font-family: 'Goudy Bookletter 1911';
  font-style: normal;
  font-weight: normal;
  src: url('GoudyBookletter1911');
}

.collapsed{
  height:20px;
  overflow:hidden;
}

::selection {
  background: black;
  color: white;
}

body, h1, h2, ul, li, div, a, p {
  color: $main-text;
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight: 100;
    -webkit-font-smoothing: antialiased;
}

p {
  font-size: 14pt;
}

div {
  box-sizing: border-box;
}

.blur {
  -webkit-filter: blur(1px);
}



a:link, a:visited, a {
  @include transition(all .2s);
  @include shadow(0px,0px,0px,0);
  background-color:rgba(181, 137, 0, 0);
  text-decoration:none;
  &:hover {
    background-color:rgba(181, 137, 0, 0.24);
    text-decoration:none;
    @include shadow(0px,0px,0px,0);
  }
}

body {
  @include perspective;
  background-color:white;
  background-position:top center;
  background-repeat:repeat;
  background-size:cover;
  height:100%;
}

header {
  @include transition(all 0.3s);
  background-color: rgba(0,0,0,0.8);
  margin: 90pt auto 0;
  padding: 0pt 0 10pt 0;
  text-align:center;
  width:100%;
  h1  {
    @include textshadow(1px, 2px, 4px, rgba(0,0,0,0.2));
    display:inline-block;
    font-family: 'futura', 'helvetica', sans-serif;
    font-size:12px;
    line-height:160%;
    letter-spacing:-0.17em;
    max-width: $page-width + 200;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    white-space: nowrap;
    span.word {
      display:inline-block;
      color: #F9F8F5;
      opacity:0.8;
    }
  }
}


#sun {
  @include animation(meatspin, 2s, infinite);
  // @include transform-style;
  background-color:transparent;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:auto;
  background-image:url("../images/sun.png");
  background-size:60px 60px;
  cursor:move;
  display:block;
  height:100px;
  overflow:hidden;
  text-align:center;
  width:100px;
  @include transition(background-size 0.6s);
}

#sun.ui-draggable-dragging {
  background-size:100px 100px;
}

#stuff {
  margin:0 auto 3em;
  max-width: $page-width;
  _width: $page-width;
  #width: $page-width;
  footer {
    margin:0;
    padding:0;
    h2  {
      font-size: 30pt;
      letter-spacing: .1em;
      margin: 0;
    }
    div {
      @include gradient;
      @include shadow;
      background-color: rgba(249, 248, 245, .9);
      border-radius: 2.5pt;
      display:inline-block;
      height:auto;
      margin: 0em 3.5%;
      padding: 0em 0 1.3em 0;
      text-align:center;
      vertical-align:top;
      width: 26%;
      ul li {
        margin:.5em 0 0 0;
        a {
          border-radius: 2.5pt;
          box-sizing: border-box;
          cursor:pointer;
          display: block;
          margin: .3em auto;
          overflow-x:hidden;
          padding: .1em 2%;
          width: 88%;
        }
      }
    }
  }
}