/* This fancy-pants cascading stylesheet was mostly created by Mike '900px of cold hard steel' Ferchak */
.collapsed {
  height: 20px;
  overflow: hidden; }

/* reset styles - Graciously provided by Dan Cederholm - http://simplebits.com/--------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Laying down the basic crap */
@font-face {
  font-family: 'Goudy Bookletter 1911';
  font-style: normal;
  font-weight: normal;
  src: url("GoudyBookletter1911"); }

body, h1, h2, ul, li, div, a, p {
  color: #214445;
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight: 100; }

p {
  font-size: 14pt; }

div {
  box-sizing: border-box; }

header {
  padding: 36pt 0 0 0;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
  text-align: center;
  line-height: 200%;
  opacity: 0;
  -webkit-transition: opacity 3s;
  -moz-transition: opacity 3s;
  -o-transition: opacity 3s;
  -k-transition: opacity 3s;
  transition: opacity 3s; }

header.pwned {
  opacity: 1; }

h1 {
  font-family: 'futura', 'helvetica', sans-serif;
  font-size: 38pt;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.4);
  display: inline;
  margin: 0 auto;
  text-align: center;
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  line-height: 200%;
  letter-spacing: -0.15em; }
  h1 span.word {
    display: inline-block;
    color: #FFFFFF; }

h2 {
  font-size: 24pt;
  margin: 14px 0 0px 0; }

body {
  background-color: white;
  background-image: url(../images/wood-bg.jpg);
  _background-image: url(../images/gradient.svg), url(../images/background.png);
  background-position: top center, top center;
  background-repeat: repeat;
  background-size: auto; }

a:link, a:visited, a {
  background-color: rgba(181, 137, 0, 0.1);
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -k-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  -k-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0); }

a:hover {
  background-color: rgba(181, 137, 0, 0.24);
  text-decoration: none;
  -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  -k-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 0px 0px rgba(0, 0, 0, 0); }

section {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.2);
  -o-box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.2);
  -k-box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.2); }

#sun {
  height: 100px;
  width: 100px;
  position: relative;
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  cursor: move;
  text-align: center;
  background-image: url("../images/looool.png"); }

#sun:after {
  font-size: 5em; }

#stuff {
  _width: 1000px;
  #width: 1000px;
  max-width: 1000px;
  margin: 0 auto 3em; }

footer {
  margin: 0;
  padding: 0; }
  footer div {
    display: inline-block;
    height: auto;
    vertical-align: top;
    text-align: center;
    -webkit-text-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    -moz-text-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    -o-text-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    -k-text-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    text-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.5);
    width: 26%;
    margin: 0 3.5%;
    background-color: rgba(240, 240, 240, 0.1);
    padding: 0 0 1.3em 0;
    border-radius: 2pt;
    background-image: -webkit-radial-gradient(bottom center, 12em 6em, white, rgba(247, 247, 247, 0.6));
    -webkit-box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.2);
    -o-box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.2);
    -k-box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 6px rgba(0, 0, 0, 0.2); }
    footer div ul li {
      margin: .5em 0 0 0; }
      footer div ul li a {
        padding: .1em .3em; }

/* iPad */
@media screen and (max-width: 800px) {
  body {
    width: 100%;
    margin: 0 auto; }

  header {
    padding: 1em 0 1em 0em; }

  header.futurephone h1 {
    display: block;
    white-space: normal;
    text-align: left;
    margin: 0em 0 0em 0;
    padding: 0.3em;
    line-height: 0.9;
    letter-spacing: -0.18em; }
    header.futurephone h1 span.word {
      text-align: left;
      display: inline-block;
      margin: 0; }
      header.futurephone h1 span.word span {
        -webkit-transition: all 0.1s;
        -moz-transition: all 0.1s;
        -o-transition: all 0.1s;
        -k-transition: all 0.1s;
        transition: all 0.1s; }

  footer h2 {
    font-size: 3em; }
  footer div {
    padding-left: 2%;
    text-align: left;
    display: block;
    width: 96%;
    margin: 0 auto; }
  footer li {
    font-size: 1.4em; } }
@media screen and (max-width: 400px) {
  footer div {
    padding-left: 1.5em; }
  footer h2 {
    font-size: 3em; } }
