%header
  %h1
    Michael Ferchak
  #details
    %p
      =link_to "2628 Shady Ave. Pittsburgh PA, 15217", 'https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=2628+Shady+Ave.+PGH+PA,+15217&aq=&sll=37.0625,-95.677068&sspn=60.376022,64.072266&vpsrc=6&t=w&ie=UTF8&hq=&hnear=2628+Shady+Ave,+Pittsburgh,+Pennsylvania+15217&z=17&iwloc=A'
    %p
      =mail_to "mikeferchak+jobs@gmail.com", "mikeferchak@gmail.com"
    %p
      =link_to "mferchak.com", "http://mferchak.com"

%section#skills
  %h2
    Skills
  .content
    CSS, XSLT, JavaScript, jQuery, Ruby on Rails, HTML5, SASS, ERB, HAML, Git

%section#experience
  %h2
    Experience
  .content
    .job
      %hgroup
        %h3 IBM
        %h4 Software Developer
        %h5 09 / 2012 - Present
      .details
        %p Front end development for big data dashboard application (Infosphere Data Explorer Application Builder)
        %span.moreinfo Technologies used: JRuby, Ruby on Rails, jQuery, SASS, ERB, Git
    .job
      %hgroup
        %h3 Vivisimo
        %h4 Applications Engineer
        %h5 08 / 2011 - 09 / 2012
      .details
        %p Designing custom search applications for big, impressive companies.
        %p Recent big, impressive projects include:
        %ul
          %li Boston Consulting Group - Complete UI overhaul
          %li Proctor and Gamble - Updated search interface
          %li American College of Cardiology - Implemented new focused refinements and document preview
          %li Lowe’s - Full implementation
        %p Less impressive side projects include:
        %ul
          %li Reimplementing the default front-end display in Rails
          %li Designing a code dependency search tool (also in Rails)
        %span.moreinfo Technologies used: XSLT, Javascript - (YUI and jQuery), CSS - (SASS), Ruby on Rails, HAML, ERB, Git
    .job
      %hgroup
        %h3 Mike Ferchak’s Incredible Web Design Company
        %h4 Freelance Web Designer
        %h5 2005 - Present
      .details
        %p Most recent project: The Commonplace Coffee Company - commonplacecoffee.com
        %span.moreinfo The goal for this project was to deliver a valid, lightweight, responsive redesign that was more in line with the company’s design aesthetic.
    .job
      %hgroup
        %h3 Vivisimo
        %h4 Support Engineer
        %h5 06/2009 - 08/2011
      .details
        %p Gained intermediate/advanced knowledge of XSLT, the Velocity ‘parse’ node, regular expressions, header/cookie manipulation, and the search federation process in general.
        %p Useful knowledge gained regarding display dependencies and minimizing display/project code redundancy.
    .job
      %hgroup
        %h3 University of Pittsburgh - Department of Physics and Astronomy
        %h4 Web developer
        %h5 09/2007 - 04/2009
      .details
        %ul
          %li Designed a web application for searching and viewing lecture videos.
          %li Incorporated “instant search” before it was cool.
          %li As an added bonus, learned a bunch about high-energy physics and cosmology.
        %span.moreinfo Technologies: PHP, MySQL, Javascript and DivX

%section#education
  %h2
    Education
  .content
    .school
      %hgroup
        %h3 University of Pittsburgh
        %h4 BS, Information Science
        %h5 2007 - 2010
    .school
      %hgroup
        %h3 Penn State University
        %h4 Information Science
        %h5 2005 - 2007
      %p.moreinfo Enterprise Systems Integration Club, Japanese Culture Society

%section#interests
  %h2
    Interests
  .content
    =link_to 'Responsive web design', 'http://www.alistapart.com/articles/responsive-web-design/'
    , drop-shadows, typography,
    =link_to 'espresso', 'http://commonplacecoffee.com'
    ,
    =link_to 'autocross', 'http://scrsolo.com'

%section#associations
  %h2
    Associations
  .content
    =link_to 'Pittsburgh Ruby Brigade', 'http://pghrb.heroku.com/'