/* _iphone.scss*/
@media screen and (max-width: 400px){
    #stuff {
        footer{
            div {
                padding-left:6%;
                padding-right:6%;
                overflow-x:hidden;
                margin-bottom:2em;
            }
            h2 {
                font-size:3em;
            }
        }
    }
}
