::selection {
  background: black;
  color: white;
}

* {
  -webkit-transform: rotateZ(360deg);
     -moz-transform: rotateZ(360deg);
      -ms-transform: rotateZ(360deg);
       -o-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

body, h1, h2, ul, li, div, a, p {
  color: $main-text;
  font-family: 'Noto Serif', serif;
  box-sizing: border-box;
}

p {
  font-size: 14pt;
}

a:link, a:visited, a {
  @include transition(background .2s);
  background-color:hsla(0, 0%, 20%, 0);
  text-decoration:none;
  &:hover {
    background-color:hsla(0, 0%, 20%, 0.24);
    text-decoration:none;
  }
}

header {
  background-color: rgba(0,0,0,0.8);
  margin: 90pt auto 0;
  padding: 0pt 0 10pt 0;
  text-align:center;
  width:100%;

  h1  {
    @include textshadow(1px, 2px, 4px, rgba(0,0,0,0.2));
    font-family: 'futura', 'helvetica', sans-serif;
    font-weight: 100;
    line-height:160%;
    letter-spacing:-0.17em;
    margin:0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    text-align: center;
    white-space: nowrap;
    span.word {
      display:inline-block;
      color: #F9F8F5;
      opacity:0.8;
    }
  }
}

#stuff {
  margin:0 auto 3em;
  max-width: $page-width;
  _width: $page-width;
  #width: $page-width;

  footer {
    margin:2em 0 0 0;
    padding:0;

    h2 {
      font-family: 'futura', 'helvetica', sans-serif;
      font-size: 30pt;
      letter-spacing: .1em;
      margin: 0;
    }

    div {
      @include shadow;
      background-color: hsl(0, 0%, 95%);
      float: left;
      margin: 0em 3.5%;
      padding: 0em 0 1.3em 0;
      text-align:center;
      vertical-align:top;
      width: 26%;

      ul li {
        margin:.5em 0 0 0;

        a {
          cursor:pointer;
          display: block;
          margin: .3em auto;
          overflow-x:hidden;
          padding: .1em 2%;
          width: 100%;
        }
      }
    }
  }
}