!!! 5
/[if lt IE 7] <html lang="en" class="no-js ie6">
/[if IE 7 ]    <html lang="en" class="no-js ie7">
/[if IE 8 ]    <html lang="en" class="no-js ie8">
/[if IE 9 ]    <html lang="en" class="no-js ie9">
%head
  %meta{:charset => "utf-8"}/
  %meta{ :name => "description", :content => "The place for everything Mike-Ferchak-y."}/
  %meta{ :name => "keywords", :content => "web designer, Pittsburgh"}/
  %meta{ :name => "author", :content => "Mike Ferchak"}/
  %title The place for everything Mike Ferchak-y
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Noto+Serif"
  = stylesheet_link_tag :application
  / = stylesheet_link_tag :application_print, :media => 'print'
  = csrf_meta_tag

%body{:class => controller_name}

  =yield

= javascript_include_tag 'application'